name: build-manually.yml

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'The release version of MinIO'
        required: true

permissions:
  contents: read
  packages: write

env:
  IMAGE_NAME: ghcr.io/${{ github.repository_owner }}/minio

concurrency:
  group: build-${{ inputs.tag }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: [ linux/amd64, linux/arm64 ]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set TARGETARCH for this platform
        run: |
          # extract the arch after the slash.
          echo "Matrix platform: ${{ matrix.platform }}"
          TARGETARCH="${{ matrix.platform }}"
          TARGETARCH="${TARGETARCH#*/}"
          echo "TARGETARCH=$TARGETARCH" >> $GITHUB_ENV

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile.release
          push: true
          platforms: ${{ matrix.platform }}
          tags: |
            ${{ env.IMAGE_NAME }}:${{ inputs.tag }}
            ${{ env.IMAGE_NAME }}:manual-${{ github.run_number }}
          build-args: |
            MINIO_VERSION=${{ inputs.tag }}
            TARGETARCH=${{ env.TARGETARCH }}
          cache-from: type=gha,scope=minio
          cache-to: type=gha,mode=max,scope=minio
